.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 25px;
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.card-content .btn {
    font-weight: bold;
    display: inline-block;
    padding: 8px 16px;
    background-color: #575757;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    color: #fff;
    transition: .2s ease;
}

.card-content .btn:hover {
    scale: 1.05;
    background-color: #383838;
}

.card-content .btn:active {
    scale: 0.95;
}

.card-content .btn-play {
    font-weight: bold;
    display: inline-block;
    padding: 8px 16px;
    background-color: #73e269;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    color: #fff;
    transition: .2s ease;
}

.card-content .btn-play:hover {
    scale: 1.05;
    background-color: #489941;
}

.card-content .btn-play:active {
    scale: 0.95;
}

.card-content h3 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
}

.card-content p {
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
}

h1 {
    color: #fff;
    margin-top: 150px;
    margin-bottom: -50px;
    font-size: 3rem;
    text-align: center;
}
